[submodule "third_party/IsaacLab"]
	path = third_party/IsaacLab
	url = https://github.com/Aero-san/IsaacLab.git
	branch = self-use
[submodule "third_party/curobo"]
	path = third_party/curobo
	url = https://github.com/yuechen0614/curobo.git
	branch = main
[submodule "XPolicyLab"]
	path = XPolicyLab
	url = https://github.com/Aero-san/XPolicyLab.git
	branch = mingyang/robodojo-migration
[submodule "external_dependencies/WCM"]
	path = external_dependencies/WCM
	url = https://github.com/Aero-san/WCM.git
	branch = dojo-wcm
